<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= produtoId.nome %></title>
    <link rel="stylesheet" href="/stylesheets/item.css">
    <%- include('./partials/linkBootstrap') %>
</head>

<body>
    <%- include('./partials/header') %>

        <main>

            <div class="d-flex justify-content-center">
                <div class="blocoInforItem conteudo">
                    <div class="d-flex justify-content-around">
                        <div class="m-5"><img src="<%= produtoId.imgPath %>" width="400px" height="400px" alt=""></div>

                        <div>
                            <div class="d-flex btnVenda"> 
                                <div class="wpp">
                                    <h5>Vendido por: <a href="/contas/<%= produtoId.usuario.id %><%= produtoId.usuario.username %>"><%= produtoId.usuario.username %></a></h5>
                                    <a href="https://api.whatsapp.com/send?phone=<%= produtoId.usuario.telefone %>" target="_blank">
                                        <img src="/images/8-89480_white-runway-on-whatsapp-logo-whatsapp-png.png">
                                    </a>
                                </div>
                                <button class="botaoCarrinhoSuperior">
                                    <div class="d-flex btnCarrinho">
                                        <div>
                                            <img src="/images/Vector (3).png" width="35px" height="28px"
                                                alt="">
                                            </div>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <p id="carrinhoSuperior">Carrinho</p>
                                            </div>
                                        </div>
                                    </div>
                                </button> 
                            </div>

                            <div class="d-flex justify-content-center ppreco">
                                <div>
                                    <h2><%= produtoId.nome %></h2>
                                </div>
                            </div>

                            <% if(produtoId.desconto != "") { %>
                                <div class="d-flex justify-content-center pt-3">
                                    <div class="precos">
                                        <p class="precoReal"><%= parseFloat(produtoId.preco).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></p>
    
                                        <p><span class="precosComDesconto"><%= parseFloat((produtoId.preco - produtoId.desconto*produtoId.preco/100).toFixed(2)).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></span></p>
                                    </div>
                                </div>
                            <% } else { %>
                            <div class="d-flex justify-content-center pt-3">
                                    <p> <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto">
                                        <%= produtoId.preco %> </span></p>
                                </div>
                            </div>
                            <% } %>
                            <div class="d-flex justify-content-center">
                                <hr width="98%">
                            </div>
                            
                            <a onClick="history.go(-1)">
                                <div class="d-flex addUp"> 
                                    <button class="adicionarAoCarrinho">
                                        <div class="d-flex">
                                            <div class="imagemCarrinho"><img src="/images/Vector (3).png" width="61.06px"
                                                    height="55.85px" alt=""></div>
                                            
                                            <div class="d-flex justify-content-center align-items-center ">
                                                <h3>Adicionar mais produtos no carrinho</h3>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </a>

                        </div>



                    </div>

                    <div class="d-flex justify-content-center">
                        <hr width="98%">
                    </div>

                    <div class="d-flex justify-content-start espec">
                        <div id="informacoesDoProduto">
                            <div id="especificacoes">
                                <div>
                                    <h3>Especificações</h3>
                                </div>
                            </div>

                            <div class="informacacoesDoProduto">
                                <p><%= produtoId.descricao %> </p>
                            </div>

                        </div>

                    </div>
                       
                    <div class="d-flex justify-content-center">
                        <hr width="98%">
                    </div>

 <div>

 <div class="btnVenda">
    <div class="d-flex">
        <div> <button class="buttonEstrela"> <img src="/images/Star 2.png" width="70px" height="60px"
                    class="estelas" alt=""> </button> </div>
        <div> <button class="buttonEstrela"> <img src="/images/Star 2.png" width="70px" height="60px"
                    class="estelas" alt=""> </button> </div>
        <div> <button class="buttonEstrela"> <img src="/images/Star 2.png" width="70px" height="60px"
                    class="estelas" alt=""> </button> </div>
        <div> <button class="buttonEstrela"> <img src="/images/Star 2.png" width="70px" height="60px"
                    class="estelas" alt=""> </button> </div>
        <div> <button class="buttonEstrela"> <img src="/images/Star 2.png" width="70px" height="60px"
                    class="estelas" alt=""> </button> </div> 
    </div>
</div>   

<div class="d-flex justify-content-center">

<div class="d-flex justify-content-start m-4"  style="width:100%">
<input type="text" class="adicionarComentarios" placeholder="Deixe o seu comentario"> <img src="/images/Emoji.png" width="20px" height="20px" alt="">
</div>

</div>

 </div>

 <div class="d-flex justify-content-center">
    <hr width="98%">
</div>


<div class="d-flex coment">
    <%- include('./partials/comentarios.ejs') %> 
    <%- include('./partials/comentarios.ejs') %> 
    <%- include('./partials/comentarios.ejs') %> 
    <%- include('./partials/comentarios.ejs') %> 
    <%- include('./partials/comentarios.ejs') %> 
</div>
         
        
   </div>
                        
</div>
            




        </main>

        <%- include('./partials/footer') %>
        <script src="/js/item.js"></script>
</body>
 
</html>